<section class="contactus" id="contactus">
  <p>CONTACT ME</p>
  <h3>Let's Make Something Together</h3>
  <p>Connect with us effortlessly! Click the "Contact Me" button to reach out.
  </p>
  <div class="saperatecontact">
      <div class="form">
          <input type="text" placeholder="Enter Your Name Here" class="textfield" id="">
          <input type="text" placeholder="Enter Your Email Here" class="textfield" id="">
          <textarea placeholder="Write Something" id="textarefield" cols="30" rows="4"></textarea>
          <button>SEND</button>
      </div>
      <div class="personaldetails">
          <h3>Personal Details</h3>
          <h4>Phone</h4>
          <p>{{contactDetails.phone}}</p>
          <h4>Email</h4>
          <p>{{contactDetails.email}}</p>
          <h4>Address</h4>
          <p>{{contactDetails.address}}</p>
      </div>
  </div>
</section>
