<header>
  <div class="name">
      <p>I am</p>
      <h4>Mohammed Rasnal K A</h4>
      <div class="web">

              <h1 id="one">WEB</h1>
              <h1 id="two">WEB</h1>

      </div>
      <h2>DEVELOPER</h2>
      <div class="buttons">
          <a href="mailto:raznalrich@gmail.com"><button class="hireme">Hire Me</button></a>
          <a href="#"><button class="dwldcv">Download CV</button></a>
      </div>
  </div>
  <div class="picture">
      <img id="light-img" src="images/Group 2.png" >
  </div>
</header>
